*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #6d5d4b;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 85vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-content-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-content-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-4 {
  font-size: 1rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.sidebar {
  background-color: orangered;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: grey;
  grid-column: full-content-start / col-end 6; }

.realtors {
  background-color: purple;
  grid-column: col-start 7 / full-content-end; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    fill: #c69963;
    width: 2.5rem;
    height: 2.5rem;
    grid-row: 1 / span 2; }
  .feature__text {
    font-size: 1rem; }

.story__picture {
  background-color: powderblue;
  grid-column: full-content-start / col-end 4; }

.story__content {
  background-color: greenyellow;
  grid-column: col-start 5 / full-content-end; }

.homes {
  background-color: blue;
  grid-column: center-start / center-end; }

.gallery {
  background-color: red;
  grid-column: full-content-start / full-content-end; }

.footer {
  background-color: cyan;
  grid-column: full-content-start / full-content-end; }
