.story{

    &__picture{
        background-color: powderblue;
        grid-column : full-content-start / col-end 4; 
    }
    &__content{
        grid-column : col-start 5 / full-content-end;

        padding: 6rem;
    }

    &__text{
        font-size: 1.1rem;
        font-style: italic;
    }

}